[Unit]
Description=Run RTL-SDR watchdog every 5 minutes
After=dump1090-fa.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
